.department-of,
.physical-education {
  margin: 0;
}
.department-of-physical-container {
  flex: 1;
  position: relative;
}
.screenshot-2023-08-07-at-452-icon {
  position: absolute;
  margin: 0 !important;
  top: -77px;
  right: 79px;
  width: 84px;
  height: 78px;
  object-fit: cover;
  z-index: 1;
}
.dep-ed-text,
.second-child-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dep-ed-text {
  width: 232px;
  flex-direction: row;
  position: relative;
}
.second-child-frame {
  width: 277px;
  flex-direction: column;
}
.devadan-cup-2024 {
  margin: 0;
}
.devadan-cup-2024-container {
  position: relative;
  display: inline-block;
  height: 46px;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
}
.venue-school-of {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
}
.first-frame,
.second-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.second-frame {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-2xs);
}
.first-frame {
  width: 681px;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-19xl);
}
.christ-without-bg-logo-1-1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logo-container {
  width: 268px;
  height: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.first-child-frame {
  align-self: stretch;
  background-color: var(--color-aliceblue-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-17xl) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.home1 {
  margin: 0;
}
.home {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 46px;
  flex-shrink: 0;
}
.contact-us-text {
  width: 121px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.about {
  align-self: stretch;
  position: relative;
  cursor: pointer;
}
.about-registration-text {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.registration {
  position: relative;
  cursor: pointer;
}
.about-registration-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
}
.contact-us {
  position: relative;
  display: inline-block;
  width: 109px;
  flex-shrink: 0;
  white-space: nowrap;
}
.header-frame,
.parent-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-frame {
  background-color: var(--color-aliceblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-643xl) 0;
  gap: var(--gap-11xl);
  top: 0;
  z-index: 99;
  position: sticky;
  font-size: var(--font-size-lg);
}
.parent-frame {
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.about1 {
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.about1,
.blank-line,
.blank-line1,
.the-devadan-cup,
.the-devadan-cup1 {
  margin: 0;
}
.the-devadan-cup-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 400;
  font-family: inherit;
  text-align: left;
}
.c-h-r-i-s-t-university-text {
  align-self: stretch;
  background-color: var(--color-aliceblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-22xl) var(--padding-20xl)
    var(--padding-23xl);
  gap: var(--gap-56xl);
}
.organized-by-christdeemed {
  margin: 0;
}
.organized-by-christdeemed-container {
  width: 838px;
  height: 36px;
  flex-shrink: 0;
}
.devadan-cup-20241,
.organized-by-christdeemed-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.second-child-frame-c {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.about-the-cup-text,
.first-child-frame-c {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.first-child-frame-c {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-8xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.about-the-cup-text {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
.macbook-air-1,
.second-child-frame-b {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.second-child-frame-b {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.macbook-air-1 {
  position: relative;
  background-color: var(--color-gainsboro-300);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  gap: 280px;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .first-child-frame {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .header-frame {
    padding-left: var(--padding-312xl);
    padding-right: var(--padding-312xl);
    box-sizing: border-box;
  }
  .second-child-frame-c {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .c-h-r-i-s-t-university-text {
    gap: var(--gap-18xl);
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
  .macbook-air-1 {
    gap: 140px;
  }
}
@media screen and (max-width: 800px) {
  .header-frame {
    gap: var(--gap-mini);
    padding-left: var(--padding-146xl);
    padding-right: var(--padding-146xl);
    box-sizing: border-box;
  }
  .about1 {
    font-size: var(--font-size-25xl);
  }
  .the-devadan-cup-container {
    font-size: var(--font-size-5xl);
  }
  .c-h-r-i-s-t-university-text {
    gap: var(--gap-lgi);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .macbook-air-1 {
    gap: 70px;
  }
}
@media screen and (max-width: 450px) {
  .header-frame {
    display: none;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .about1 {
    font-size: var(--font-size-14xl);
  }
  .devadan-cup-20241,
  .organized-by-christdeemed-container,
  .the-devadan-cup-container {
    font-size: var(--font-size-lg);
  }
}
